/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  border: 2px solid #724fa1;
}

.back-to-top i {
  font-size: 28px;
  color: #724fa1;
  line-height: 0;
}

.back-to-top:hover {
  background: #724fa1;
  color: #1a1814;
}

.back-to-top:hover i {
  color: #444444;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  /*background: #0c0b09;
  border-top: 1px solid #37332a;
  border-bottom: 1px solid #28251f;*/
  padding: 60px 0 30px 0;
  position: sticky;
  z-index: 2;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3, #footer .footer-top .footer-links h4 {
  /*font-size: 24px;*/
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  /*line-height: 1;
  font-weight: 300;*/
  text-transform: uppercase;
  /*font-family: "Poppins", sans-serif;*/
  font-family: Playfair Display Flex,Playfair-Display-Fallback,Apple Color Emoji,Noto Color Emoji,serif;
  font-weight: bold;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  /*line-height: 24px;*/
  margin-bottom: 0;
  /*font-family: "Playfair Display", serif;*/
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 24px;
  display: inline-block;
  /*background: #28251f;*/
  color: #fff;
  /*line-height: 1;*/
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  /*background: #cda45e;*/
  color: #724fa1;
  text-decoration: none;
}

#footer .footer-top h4 {
  /*font-size: 16px;*/
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #724fa1;
  /*font-size: 18px;
  line-height: 1;*/
}

#footer .footer-top .footer-links ul li {
  padding: 15px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #724fa1;
  transition: 0.3s;
  display: inline-block;
  /*line-height: 1;*/
}

#footer .footer-top .footer-links ul a:hover {
  color: #724fa1;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  position: sticky;
  z-index: 2;
  color: #000;
  font-size: 14px;
}

#footer .copyright a {
  color: #724fa1;
}

#footer .bg-overlap {
  position: sticky;
  z-index: 3;
}

.si-c a {
  color: hsla(0,0%,100%,.5);
}
